node_modules
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
__pycache__/
*.py[cod]
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.cache
*.mo
*.pot
*.log
.sass-cache
*.css.map
.DS_Store
src/db.sqlite3
