@import 'unsemantic-grid-base.css';
@import 'unsemantic2.css';

@font-face
{
	font-family: Futura_Oblique;
	src: url(../fonts/futura_oblique.ttf);
}

@font-face
{
	font-family: SourceSansRegular;
	src: url(../fonts/SourceSansPro-Regular.otf);
}

@font-face
{
	font-family: SourceSansLight;
	src: url(/static/fonts/SourceSansPro-Light.otf);
}

@font-face
{
	font-family: SourceSansItalic;
	src: url(/static/fonts/SourceSansPro-It.otf);
}

@font-face
{
	font-family: SourceSansBold;
	src: url(../fonts/SourceSansPro-Bold.otf);
}

$nice-blue: #003973;
$gradient2: #E5E5BE;

$lite-blue: #79a9da;
$dark: #050e10;
$blue: #0074D9;
$clouds: #ecf0f1;
$navy: #001F3F;
$orange: #FF851B;
$lite-orange: #EDAA4E;
$c4: #D1D2D5;

$lowest: #f63a0f;
$low: #f27011;
$middle: #f2b01e;
$high: #f2d31b;
$highest: #86e01e;

$green: #A3CD99;
$darkgreen: #579E81;
$dark-grey: #2a2a2a;
$lite-grey: #939393;

$paulina-purp: #3b333f;

* {
	margin: 0;
	padding: 0;
}

.grid-container {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
    max-width: none;
}

#container {
	background: $clouds;
    margin: 0 auto;
	font-family: SourceSansRegular;
    max-width: 1200px;
}

h1,h2,h3,h4,h5,h6 {
	text-align: center;
	font-family: Futura_Oblique;
}

#navbar {
    background: $paulina-purp;
    a {
        font-size: 25px;
        font-family: Futura_Oblique;
        text-decoration: none;
        margin-top: 40px;
        color: white;
    }
}

#footer {
    background: $paulina-purp;
    color: white;
    height: 100px;
    text-align: center;
    font-size: 25px;
    p {
        padding-top: 1em;
    }
}

#dashboard {
    height: 900px;
    background: $clouds;
}

#about-page {
    background: $clouds;
}
#generic-text {
    height: 500px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 1em;
    border-right: 1px solid black;
    border-left: 1px solid black;
    p {
        font-size: 20px;
    }
}

#menu-items {
    text-align: center;
    margin: 0 auto;
    margin-top: 2em;
    width: 700px;
}

#cards {
    height: 500px;
    color: black;
}

.banner {
    background: $lite-blue;
    padding: 1em;
    height: 50px;
    color: white;
}

.card {
    float: left;
    width: 200px;
    height: 300px;
    border: 1px solid black;
    border-radius: 5px;
    background: $lite-blue;
    padding: 1em;
    margin: 1em;
    h1 {
        font-size: 20px;
        border-bottom: 1px dotted white;
        color: $navy;
    }
    .card-field {
        padding: 0.5em;
        background: white;
        border-radius: 5px;
        margin-top: 0.5em;
        p {
            text-align: center;
        }
        .card-label {
            text-align: center;
        }
    }
}

#dashboard {
    input[type=submit] {
        margin-top: 1em;
        margin-bottom: 1em;
        border-radius: 10px;
        cursor: pointer;
        width: 150px;
        height: 30px;
        color: black;
        outline: none;
        border: none;
        font-size: 20px;
    }

    input[type=submit]:hover {
        background: $clouds;
    }
    label {
        display: inline-block;
        width: 200px;
        text-align: right;
        margin-right: 1em;
        font-size: 20px;
    }
    input[type=text] {
        height: 20px;
        width: 200px;
    }
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.popupContainer{
	position:absolute;
	width:330px;
	height: auto;
	left:45%;
	top:80px;
	background: #FFF;
}

.popupHeader {
	font-size:16px; 
	text-transform: uppercase;
	font-family: Lato;
}
.popupHeader {background:#F4F4F2; position:relative; padding:10px 20px; border-bottom:1px solid #DDD; font-weight:bold;}
.popupHeader .modal_close {position: absolute; right: 0; top:0; padding:10px 15px; background:#E4E4E2; cursor: pointer; color:#aaa; font-size:16px;}

.popupBody {padding:20px;}

.centeredText {text-align: center; margin: 20px 0; clear: both; overflow: hidden; text-transform: uppercase;}

.action_btns {clear:both; overflow: hidden;}
.action_btns a {display: block;}

/*.user_login {display: none;}*/
.user_login label {display: block; margin-bottom:5px;}
.user_login input[type="text"], .user_login input[type="email"], .user_login input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}

.user_login .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}
.forgot_password, .create_account {
	font-family: Futura_Oblique;
	display:block; 
	margin: 20px 0 10px; 
	clear: both; 
	overflow: hidden; 
	text-decoration: none; 
	color: $lite-blue;
}

.user_register {display: none;}
.user_register label {display: block; margin-bottom:5px;}
.user_register input[type="text"], .user_register input[type="email"], .user_register input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_register input[type="checkbox"] {float:left; margin-right:5px;}
.user_register input[type="checkbox"]+label {float:left;}

.user_register .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}
