@import url(unsemantic-grid-base.css);
@import url(unsemantic2.css);
@font-face {
  font-family: Futura_Oblique;
  src: url(../fonts/futura_oblique.ttf);
}

@font-face {
  font-family: SourceSansRegular;
  src: url(../fonts/SourceSansPro-Regular.otf);
}

@font-face {
  font-family: SourceSansLight;
  src: url(/static/fonts/SourceSansPro-Light.otf);
}

@font-face {
  font-family: SourceSansItalic;
  src: url(/static/fonts/SourceSansPro-It.otf);
}

@font-face {
  font-family: SourceSansBold;
  src: url(../fonts/SourceSansPro-Bold.otf);
}

@font-face {
  font-family: GravityLight;
  src: url(../fonts/Gravity-Light.ttf);
}

@font-face {
  font-family: Plus;
  src: url(../fonts/plus.ttf);
}

@font-face {
  font-family: Info;
  src: url(../fonts/info.ttf);
}

@font-face {
  font-family: Delete;
  src: url(../fonts/icomoon.ttf);
}

@font-face {
  font-family: Status;
  src: url(../fonts/status.ttf);
}

@font-face {
  font-family: FontAwesome;
  src: url(../fonts/fontawesome-webfont.ttf);
}

* {
  margin: 0;
  padding: 0;
}

.grid-container {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: none;
}

#container {
  background: #ecf0f1;
  margin: 0 auto;
  font-family: GravityLight;
}


h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: GravityLight;
  text-transform: uppercase;
  font-size: 16px;
  width: 100%;
  line-height: 30px;
}

#navbar {
  background: #3b333f;
}
#navbar a {
  font-size: 19px;
  font-family: GravityLight;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 36px;
  color: white;
}
#navbar a:hover {
    text-decoration: underline;
}

#footer {
  font-family: GravityLight;
  background: #3b333f;
  color: white;
  height: 100px;
  text-transform: uppercase;
  text-align: center;
  font-size: 19px;
}
#footer p {
  padding-top: 1em;
}

#dashboard {
  height: 100%;
  background: #D5DDE6;
}

#dashboard button:hover {
  cursor: pointer
}

#about-page {
  background: #ecf0f1;
}

#generic-text {
  height: 500px;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding: 1em;
}
#generic-text p {
  font-size: 20px;
}

#menu-items {
  visibility: hidden;
  text-align: center;
  margin: 0 auto;
  margin-top: 2em;
  width: 700px;
}


#new-card-btn {
  margin: -12px auto;
  width: auto;
}
#new-deck {
  visibility: hidden;
  text-align: center;
}
#decks {
  height: 500px;
  color: black;
}

.banner {
  background: #D5DDE6;
  padding: 1em;
  height: 30px;
  color: black;
  display: inline-flex;
  width: 100%;
}

.deck-exists {
  visibility: hidden;
}

.deck {
  float: left;
  width: 200px;
  height: auto;
  border: 1px solid black;
  border-radius: 5px;
  background: #758CA6;
  padding: 1em;
  margin-left: 1em;
  margin-top: 3em;
}
.deck .deck-top {
  height: 20px;
  color: white;
  font-size: 19px;
  display: inline;
}
.deck .deck-top img {
  float: right;
}
.deck .deck-top img:hover {
  cursor: pointer;
}
.card h1 {
  font-size: 20px;
  color: white;
}

.deck .card-field p {
  /*text-align: center;*/
}
.deck .card-field .card-label {
  color: #3b333f !important;
  font-family: GravityLight;
  text-align: center;
}

.deck .card-detail-btn {
  padding: 11px;
  padding-bottom: 22px;
  background: white;
  border-radius: 5px;
  width: 100%;
  height: 20px;
  margin-top: 1em;
  border: None;
  font-size: 17px;
  font-family: GravityLight;
  text-align: left;
  color: black;
}

.deck .add-card-detail-btn {
  padding: 0;
  background: #758CA6;
  color: white;
  border-radius: 5px;
  width: 100%;
  height: 20px;
  margin-top: 1em;
  border: None;
  font-size: 15px;
  font-family: GravityLight;
  text-align: left;
}
.deck button:hover {
  cursor: pointer;
}


a {
  text-decoration: none;
}

#card-detail {
  visibility: hidden;
  height: 600px;
  border: 1px solid black;
  border-radius: 5px;
  width: 900px;
  margin: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #d1d2d5;
  -webkit-animation: fade-in-modal .3s forwards ease-out;
}

@-webkit-keyframes fade-in-modal {
  0% {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}


#card-detail-top button {
  padding: 0;
  background: red;
  border: 0px;
  border-radius: 5px;
  width: 75px;
  height: 100%;
  font-size: 12px;
  font-family: GravityLight;
  text-align: center;
  position: relative;
  bottom: 17px;
  left: 740px;
  color: white;
  line-height: 22px;
}


#card-detail-top button:hover {
  cursor: pointer;
}

#card-detail #card-detail-top {
  font-family: GravityLight;
  padding: 1em;
}
#card-detail #card-detail-navbar {
  height: 40px;
}
#card-detail #card-detail-navbar li {
  background: #758CA6;
  text-align: center;
  border-right: 1px solid black;
  height: 40px;
  padding-top: 10px;
  display: block;
}
#card-detail #card-detail-navbar a {
  display: block;
  font-family: GravityLight;
  text-transform: uppercase;
  color: white;
}
#card-detail #card-detail-navbar li:hover {
  background: #3B333F;
}
#card-detail #card-detail-navbar li:hover a {
  color: white;
}
#card-detail #card-detail-tabs {
  overflow: scroll;
  height: 338px;
  background: #3b333f;
  color: white;
}
#card-detail #card-detail-company {
  color: crimson;
  text-decoration: underline;
}
#card-detail #card-detail-position {
  color: #0074d9;
}
#card-detail #card-detail-close:hover {
  cursor: pointer;
}
#card-detail .edit-fields {
  padding: 1em;
  text-align: center;
}
.card-edit {
  outline: none;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  float: none;
  margin: 0 auto;
  display: block;
  margin-top: 1em;
  font-family: GravityLight;
  border: 1px solid black;
  background: #CF5946;
  color: white;
}
.card-edit:hover {
  cursor: pointer;
  background: #edaa4e;
}

.cancel-edit {
  outline: none;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  float: none;
  margin: 0 auto;
  display: block;
  margin-top: 1em;
  font-family: GravityLight;
  border: 1px solid black;
  background: #FFFFCC;
  color: black;
}
.cancel-edit:hover {
  cursor: pointer;
  background: #edaa4e;
}

.tLink {
  padding:5px;
  display:inline-block;
  border-radius:3px 3px 0px 0px;
  background: transparent;
  font-size:16px;
  font-weight:600;
  color:#4c4c4c;
  transition:all linear 0.15s;
}


#dashboard input[type=submit] {
  height: 100%;
  border-radius: 5px;
  float: none;
  margin: 0 auto;
  display: block;
  font-family: GravityLight;
  border: 1px solid black;
  background: #CF5946;
  color: white;
  cursor: pointer;
  width: 150px;
  height: 30px;
  outline: none;
  font-size: 20px;
  line-height: 30px;
  border: 0px;
  margin-top: 10px;
}
#dashboard input[type=submit]:hover {
  cursor: pointer;
  background: #CF5946;
}
#dashboard label {
  display: inline-block;
  width: 200px;
  text-align: right;
  margin-right: 1em;
  font-size: 20px;
}
#dashboard input[type=text] {
  height: 20px;
  width: 200px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  border: 4px;
}

#dashboard input[type=email]{
  height: 20px;
  width: 200px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  border: 4px;
}

#dashboard select {
  height: 30px;
  width: 200px;
  border-radius: 5px;
  padding: 1px;
  margin: 5px;
}

#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}

.popupContainer {
  position: absolute;
  width: 330px;
  height: auto;
  left: 45%;
  top: 80px;
  background: #FFF;
}

.popupHeader {
  font-size: 16px;
  text-transform: uppercase;
  font-family: GravityLight;
}

.popupHeader {
  background: #F4F4F2;
  position: relative;
  padding: 10px 20px;
  padding-top: 12px;
  border-bottom: 1px solid #DDD;
  font-weight: bold;
}

.popupHeader .modal_close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 15px;
  cursor: pointer;
  color: #aaa;
  font-size: 16px;
}

.popupBody {
  padding: 20px;
}

.centeredText {
  text-align: center;
  margin: 20px 0;
  clear: both;
  overflow: hidden;
  text-transform: uppercase;
}

.action_btns {
  clear: both;
  overflow: hidden;
}

.action_btns a {
  display: block;
}

/*.user_login {display: none;}*/
.user_login label {
  font-family: GravityLight;
  display: block;
  margin-bottom: 5px;
}

.user_login input[type="text"], .user_login input[type="email"], .user_login input[type="password"] {
  display: block;
  width: 92%;
  padding: 10px;
  padding-right: -6px;
  border: 1px solid #DDD;
  color: #666;
}

.user_login .checkbox {
  margin-bottom: 10px;
  clear: both;
  overflow: hidden;
}

.forgot_password, .create_account {
  font-family: GravityLight;
  display: block;
  margin: 20px 0 10px;
  clear: both;
  text-decoration: none;
  color: #D35C48;
}

.forgot_password:hover {
  color: #79A9DA;
}

.todo-wrapper {
  width: 100%;
  text-align: center;

}

.user_register {
  display: none;
}

.user_register label {
  font-family: GravityLight;
  display: block;
  margin-bottom: 5px;
}

.user_register input[type="text"], .user_register input[type="email"], .user_register input[type="password"] {
  display: block;
  width: 90%;
  padding: 10px;
  border: 1px solid #DDD;
  color: #666;
}

.user_register input[type="checkbox"] {
  float: left;
  margin-right: 5px;
}

.user_register input[type="checkbox"] + label {
  float: left;
}

.user_register .checkbox {
  margin-bottom: 10px;
  clear: both;
  overflow: hidden;
}


/* search */
a {
  color: #3B333F;
  text-decoration: none;
}
a:hover {
  color: #CF5946;
}


input {
  outline: none;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none; 
}


input[type=search] {
  background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 7px 10px 7px 32px;
  width: 95px;
  /*margin-left: 50px;*/
  
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 5em;
  
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
input[type=search]:focus {
  width: 130px;
  background-color: #fff;
  border-color: #758CA6;
  
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}

/* custom icons */
.icon-plus {
  color: #D15B47;
  font-family: Plus;
  font-size: 32px;
  padding-right: 10px;
  border: none;
  background: transparent;
}

.icon-info {
  color: black;
  font-family: Info;
  border: none;
  background: transparent;
  font-size: 22px;
}

.icon-info:before {
  float: right;
  content: "\e601";
}
.icon-plus:before {
  content: "\e600";
}

.icon-delete {
  color: black;
  font-family: Delete;
  font-size: 22px;
  border: none;
  background: transparent;
}
.icon-delete:before{
  content: "\e600";
}
.icon-delete:hover{
  cursor: pointer;
}
.icon-status {
  font-family: Status;
  font-size: 13px;
  margin-left: 9px;
  margin-bottom: 4px;
  border: none;
  border-radius: 3px;
  background: transparent;
  color: transparent;
}
.icon-status:before {
  content: "\e600";
}

/* reports */
#documents-page form {
  text-align: left;
  position: relative;
}
 
#documents-page label {
  display: inline-block;
  width: 200px;
  text-align: right;
  margin-right: 1em;
  font-size: 20px;
}

#documents-page input[type=text] {
  height: 20px;
  width: 200px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  border: 4px;
}

#documents-page input[type=submit] {
  border-radius: 6px;
  border: 0px;
  font-size: 18px;
  font-family: GravityLight;
  color: white;
  background: #CF5A47;
  width: 9%;
  height: 100%;
  padding-top: 9px;
  padding-bottom: 5px;
}

input[type=submit]:hover {
  cursor: pointer;
}

#documents-page input[type=file]{
  height: 20px;
  width: 200px;
  border-radius: 8px;
  padding: 1px;
  margin: 5px; 
}
 
table {
  width: 100%;
}
 
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
 
th, td {
  padding: 5px;
  text-align: left;
}
 
table tr:nth-child(even) {
  background-color: #eee;
}
 
table tr:nth-child(odd) {
  background-color: #fff;
}
 
table th {
  background-color: #3b333f;
  color: white;
  font-family: GravityLight;
}

a#logout {
  margin-left: 50px;
}

*:focus {
    outline: 0;
}

/*.ng-invalid.ng-dirty {
    border-color: #CF5946;
}
.ng-valid.ng-dirty {
    border-color: #98d470;
}*/

input[type=text]:hover{
  background-color: #eaf7c9;
}

input[type=email]:hover{
  background-color: #eaf7c9;
}

input[type=password]:hover{
  background-color: #eaf7c9;
}

#card-detail #card-detail-navbar li.active-tab {
  background-color: #3B333F;

}

.single{
    border-bottom: 1px solid white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: scroll;
}

.single:hover {
    cursor: pointer;
}
/*#6A6A82
#397F4B
#998B4C
#A37784
#5A86C5*/
.interested {
    background-color: #FF7519 !important;
}
.inprogress {
    background-color: #FFFF00 !important;
}
.application {
    background-color: #0000FF !important;
}
.rejected {
    background-color: #FF0000 !important;
}
.offered {
    background-color: #33CC33 !important;
}

.contact-detail {
    width: 200px;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: scroll;
}

.tag-remove-icon {
    width: 25px;
    vertical-align: middle;
}

.tag-remove-icon:hover {
    cursor: pointer;
}

.tag-detail {
    text-align: right;
    width: 200px;
    margin: 0 auto;
    padding-right: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: scroll;
}

.document-detail a {
    color: white;
    border-bottom: 1px dotted white;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: scroll;
}

#facts {
    margin-top: 1em;
    margin-bottom: 1em;
}

.fact-section {
}

.fact-section h1 {
    font-family: GravityLight;
}

.fact-section p {
    text-align: center;
    margin-top: 0.75em;
    font-size: 25px;
    font-family: SourceSansRegular;
    border: 4px solid #D5DDE6;
    border-radius: 5px;
    background-color: white;
}

.jobs-applied {
    color: #F7464A;
}

.offers-received {
    color: #46BFBD;
}

.jobs-rejected {
    color: #FDB45C;
}

.in-progress {
    color: #3A3A3A;
}

.companies-applied {
    color: #66CDAA;
}

#chart-section {
    margin: 1em auto;
    width: 400px;
}

/* Landing Page */

.landing-page {
  background: #3B333F;
  height: 100%;
  width: 100%;
  text-align: center;
}

#wrapper {
  padding-top: 10%;
}

#description {
  color: white;
  font-family: GravityLight;
  font-size: 20px;
  margin-top: 33px;
}

html {
  height: 100%;
}

#get-started a {
  text-align: center;
  margin-top: 66px;
}

#login {
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  border: 1px solid white;
  padding: 1em 5em;
  transition: 0.2s;
  font-family: GravityLight;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
}

#login:hover {
  background: #D35C48;
  color: #fff;
  padding: 1em 5em;
  border: 1px solid #D35C48;
}

#login:after {
  position: absolute;
  content: '\f0b1';
  font-family: 'FontAwesome';
  font-weight: normal;
  right: -3em;
  transition: 0.4s;
  color: #fff;
}

#login:hover:after {  
  right: 2em;
}

.modal_close {
  color: black;
  font-size: 22px;
  border: none;
  background: transparent;
}

.login, .button {
  color: white;
  background: None;
  background-color: #D35C48;
  border: None;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 16px;
  font-family: GravityLight;
  clear: both;
}

/* BUG FIXES */

/* tooltip */
label {
  display: inline-block;
}

/* text overflows */
#company-name, #card-detail-position, #card-name, #card-position, #document-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: scroll;
}

#notes-text {
  white-space: nowrap;
  overflow: scroll;
  height: 150px;
  padding: 5px;
}

table {
  table-layout: fixed; 
  text-overflow: ellipsis; 
  white-space: nowrap;
}

#card-button {
  display: inline-flex;
}

#four-oh-four {
  color: #CF5A47;
  font-family: GravityLight;
  font-size: 133px;
  margin-top: 33px;
}

#page-not-found-message {
  color: white;
  font-family: GravityLight;
  font-size: 28px;
  margin-top: 33px;
}

#back-to-home {
  margin-top: 49px;
}

#change-pass {
    text-align: center;
    font-size: 15px;
    margin: 0 auto;
    display: block;
}

#login-error {
    color: white;
    padding-top: 1em;
    font-size: 15px;
    font-family: SourceSansBold;
}
