@import url(unsemantic-grid-base.css);
@import url(unsemantic2.css);
@font-face {
  font-family: Futura_Oblique;
  src: url(../fonts/futura_oblique.ttf);
}

@font-face {
  font-family: SourceSansRegular;
  src: url(../fonts/SourceSansPro-Regular.otf);
}

@font-face {
  font-family: SourceSansLight;
  src: url(/static/fonts/SourceSansPro-Light.otf);
}

@font-face {
  font-family: SourceSansItalic;
  src: url(/static/fonts/SourceSansPro-It.otf);
}

@font-face {
  font-family: SourceSansBold;
  src: url(../fonts/SourceSansPro-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
}

.grid-container {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: none;
}

#container {
  background: #ecf0f1;
  margin: 0 auto;
  font-family: SourceSansRegular;
  max-width: 1200px;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-family: Futura_Oblique;
}

#navbar {
  background: #3b333f;
}
#navbar a {
  font-size: 25px;
  font-family: Futura_Oblique;
  text-decoration: none;
  margin-top: 40px;
  color: white;
}

#footer {
  background: #3b333f;
  color: white;
  height: 100px;
  text-align: center;
  font-size: 25px;
}
#footer p {
  padding-top: 1em;
}

#dashboard {
  height: 900px;
  background: #ecf0f1;
}

#about-page {
  background: #ecf0f1;
}

#generic-text {
  height: 500px;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding: 1em;
  border-right: 1px solid black;
  border-left: 1px solid black;
}
#generic-text p {
  font-size: 20px;
}

#menu-items {
  text-align: center;
  margin: 0 auto;
  margin-top: 2em;
  width: 700px;
}

#cards {
  height: 500px;
  color: black;
}

.banner {
  background: #79a9da;
  padding: 1em;
  height: 50px;
  color: white;
}

.card {
  float: left;
  width: 200px;
  height: 300px;
  border: 1px solid black;
  border-radius: 5px;
  background: #79a9da;
  padding: 1em;
  margin: 1em;
}
.card .card-top {
  height: 20px;
}
.card .card-top img {
  float: right;
}
.card .card-top img:hover {
  cursor: pointer;
}
.card h1 {
  font-size: 20px;
  border-bottom: 1px dotted white;
  color: #001f3f;
}
.card .card-field {
  padding: 0.5em;
  background: white;
  border-radius: 5px;
  margin-top: 0.5em;
}
.card .card-field p {
  text-align: center;
}
.card .card-field .card-label {
  color: #3b333f !important;
  font-family: SourceSansBold;
  text-align: center;
}
.card button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  float: none;
  margin: 0 auto;
  display: block;
  margin-top: 1em;
  font-family: SourceSansRegular;
  border: 1px solid black;
  background: #ff851b;
  color: white;
}
.card button:hover {
  cursor: pointer;
  background: #edaa4e;
}

#dashboard input[type=submit] {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  float: none;
  margin: 0 auto;
  display: block;
  margin-top: 1em;
  font-family: SourceSansRegular;
  border: 1px solid black;
  background: #ff851b;
  color: white;
  margin-top: 1em;
  margin-bottom: 1em;
  cursor: pointer;
  width: 150px;
  height: 30px;
  outline: none;
  font-size: 20px;
}
#dashboard input[type=submit]:hover {
  cursor: pointer;
  background: #edaa4e;
}
#dashboard label {
  display: inline-block;
  width: 200px;
  text-align: right;
  margin-right: 1em;
  font-size: 20px;
}
#dashboard input[type=text] {
  height: 20px;
  width: 200px;
}

#lean_overlay {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #000;
  display: none;
}

.popupContainer {
  position: absolute;
  width: 330px;
  height: auto;
  left: 45%;
  top: 80px;
  background: #FFF;
}

.popupHeader {
  font-size: 16px;
  text-transform: uppercase;
  font-family: Lato;
}

.popupHeader {
  background: #F4F4F2;
  position: relative;
  padding: 10px 20px;
  border-bottom: 1px solid #DDD;
  font-weight: bold;
}

.popupHeader .modal_close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 15px;
  background: #E4E4E2;
  cursor: pointer;
  color: #aaa;
  font-size: 16px;
}

.popupBody {
  padding: 20px;
}

.centeredText {
  text-align: center;
  margin: 20px 0;
  clear: both;
  overflow: hidden;
  text-transform: uppercase;
}

.action_btns {
  clear: both;
  overflow: hidden;
}

.action_btns a {
  display: block;
}

/*.user_login {display: none;}*/
.user_login label {
  display: block;
  margin-bottom: 5px;
}

.user_login input[type="text"], .user_login input[type="email"], .user_login input[type="password"] {
  display: block;
  width: 90%;
  padding: 10px;
  border: 1px solid #DDD;
  color: #666;
}

.user_login .checkbox {
  margin-bottom: 10px;
  clear: both;
  overflow: hidden;
}

.forgot_password, .create_account {
  font-family: Futura_Oblique;
  display: block;
  margin: 20px 0 10px;
  clear: both;
  overflow: hidden;
  text-decoration: none;
  color: #79a9da;
}

.user_register {
  display: none;
}

.user_register label {
  display: block;
  margin-bottom: 5px;
}

.user_register input[type="text"], .user_register input[type="email"], .user_register input[type="password"] {
  display: block;
  width: 90%;
  padding: 10px;
  border: 1px solid #DDD;
  color: #666;
}

.user_register input[type="checkbox"] {
  float: left;
  margin-right: 5px;
}

.user_register input[type="checkbox"] + label {
  float: left;
}

.user_register .checkbox {
  margin-bottom: 10px;
  clear: both;
  overflow: hidden;
}
