{% extends 'base.html' %}
{% block content %}
<div id="about-page">
    <div class="banner">
        <h1>About Jobdex</h1>
    </div>
    <div id="generic-text">
        <p>When applying and interviewing for jobs, it’s easy to lose track of which companies you applied to, when you applied, who you talked to, what stage of the interview process you’re at, when to follow-up with a recruiter, etc. To keep track of this information, some job hunters create Excel spreadsheets, jot down notes on a notebook, or worse-- rely solely on their memory! These methods can be very cumbersome and may even hurt you in the job hunting process.</p>
        <br>
        <p>Jobdex is a tracking and management tool for the job search process. It helps you organize the companies you’ve applied to (or are planning to apply to) into “decks”. Within each deck are "cards" that contain specific information about your job hunting progress within that particular company--such as the position(s) you applied for, the employees/recruiters you’ve spoken to, how you heard about the job, notes you took about the company based on research, documents you submitted, and more. </p>
    </div>
</div>
{% endblock %}
