<!DOCTYPE html>

<html>
	<head>
		<title>404 Page Not Found</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="/static/styles/main.css" />
	</head>
	<body class="landing-page">
		<div id="wrapper">

               <div id="four-oh-four">404</div>
               <div id="page-not-found-message">It looks like we couldn't find the page you were looking for. :(</div>

               <div id="back-to-home"><a href="/"><img src="/static/images/logo.png"></a></div>

		</div>


	</body>
</html>