{% extends 'base.html' %}
{% block content %}
<div id="dashboard" ng-controller="CardController">
    <h1>Dashboard</h1>
    <div id="menu-items">
        <div id="add-card">
            <label for="company-name">Company Name:</label><input type="text" name="company-name" ng-model="card.companyName">
            <br>
            <label for="status">Status:</label><input type="text" name="status" ng-model="card.status">
            <br>
            <label for="tags">Tags:</label><input type="text" name="tags" ng-model="card.tags">
            <br>
            <label for="position">Position:</label><input type="text" name="position" ng-model="card.position">
            <br>
            <label for="contact-name">Contact Name:</label><input type="text" name="contact-name" ng-model="card.contactName">
            <br>
            <label for="contact-email">Contact Email:</label><input type="text" name="contact-email" ng-model="card.contactEmail">
            <br>
            <label for="contact-phone">Contact Phone:</label><input type="text" name="contact-phone" ng-model="card.contactPhone">
            <br>
            <input type="submit" value="Add Card" ng-click="create_card()">
        </div>
    </div>
    <div id="cards">
        <h1>Your Cards</h1>
        {% for card in cards %}
            <div class="card">
                <div class="card-company">
                    {{card.associated_company.name}}
                </div>
                <div class="card-position">
                    {{card.job_title}}
                </div>
                <div class="card-status">
                    {{card.status}}
                </div>
                <div class="card-tags">
                    {{card.tag_set.all}}
                    <ul>
                        {% for tag in card.tagged_card_set.all %}
                            <li>{{tags}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
