{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
<div id="dashboard" ng-controller="CardController">
    <div class="banner">
        <h1>{{user}}'s Dashboard</h1>
    </div>
    <div id="menu-items">
        <div id="add-card">
            <label for="company-name">Company Name:</label><input type="text" name="company-name" ng-model="card.companyName">
            <br>
            <label for="status">Status:</label><input type="text" name="status" ng-model="card.status">
            <br>
            <label for="tags">Tags:</label><input type="text" name="tags" ng-model="card.tags">
            <br>
            <label for="position">Position:</label><input type="text" name="position" ng-model="card.position">
            <br>
            <label for="contact-name">Contact Name:</label><input type="text" name="contact-name" ng-model="card.contactName">
            <br>
            <label for="contact-email">Contact Email:</label><input type="text" name="contact-email" ng-model="card.contactEmail">
            <br>
            <label for="contact-phone">Contact Phone:</label><input type="text" name="contact-phone" ng-model="card.contactPhone">
            <br>
            <input type="submit" value="Add Card" ng-click="create_card()">
        </div>
    </div>
    <div id="cards">
        {% for card in cards %}
            <div class="card">
                <div class="card-top">
                    <img src="/static/images/close.png" />
                </div>
                <div class="card-company">
                    <h1>{{card.associated_company.name}}</h1>
                </div>
                <div class="card-position card-field">
                    <div class="card-label">Job Title:</div>
                    <p>{{card.job_title}}</p>
                </div>
                <div class="card-status card-field">
                    <div class="card-label">Status:</div>
                    <p>{{card.status}}</p>
                </div>
                <div class="card-tags card-field">
                    <div class="card-label">Tags:</div>
                    <p>
                    {% for tag in card.tag_set.all %}
                        #{{tag}}
                    {% endfor %}
                    </p>
                </div>
                <button class="card-detail-btn">Show More</button>
            </div>
        {% endfor %}
    </div>
    <div id="card-detail" ng-hide="detailIsShown">
        <div id="card-detail-top">
            <h1>Your application for {{displayedCard.company}}'s {{displayedCard.position}} position</h1>
        </div>
        <div id="card-detail-tabs" class="grid-100 grid-parent">
            <ul>
                <li class="grid-20">Main</li>
                <li class="grid-20">Contacts</li>
                <li class="grid-20">Notes</li>
                <li class="grid-20">Tasks</li>
                <li class="grid-20">Documents</li>
            </ul>
        </div>

    </div>
</div>
{% else %}
<div id="generic-text">
    <p>Please login to see your dashboard!</p>
</div>
{% endif %}
{% endblock %}
