{% extends 'base.html' %}
{% block content %}
<div id="about-page">
    <div class="banner">
        <h1>Password Reset</h1>
    </div>
    <div id="generic-text">
        <form id="document_upload" method="post" action="/change-password/" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="current">Current Password:</label><input type="password" name="current"/>
            <br>
            <label for="new">New Password:</label><input type="password" name="new"/>
            <br>
            <label for="confirm">Confirm Password:</label><input type="password" name="confirm"/>
            <br>
            <input type="submit">
        </form>
    </div>
</div>
{% endblock %}
