{% extends 'base.html' %}
{% block content %}
<div id="reports-page">
    <div class="banner">
        <h1>Reports</h1>
    </div>
    <div class="grid-100 grid-parent" id="facts">
        <div class="fact-section grid-20">
            <h1>Total Jobs Applied:</h1>
            <p>{{jobs_applied}}</p>
        </div>
        <div class="fact-section grid-20">
            <h1>Offers Received:</h1>
            <p>{{jobs_offered}}</p>
        </div>
        <div class="fact-section grid-20">
            <h1>Rejections Received:</h1>
            <p>{{jobs_rejected}}</p>
        </div>
        <div class="fact-section grid-20">
            <h1>Job Hunts in Progress:</h1>
            <p>{{jobs_in_progress}}</p>
        </div>
        <div class="fact-section grid-20">
            <h1>Companies Applied To:</h1>
            <p>{{companies_applied}}</p>
        </div>
    </div>
</div>
{% endblock %}
