{% extends 'base.html' %}
{% block content %}
<div id="reports-page">
    <div class="banner">
        <h1>Reports</h1>
    </div>
    <div id="generic-text">
        <p>Not yet implemented</p>
        <div id="documents">
            <div class="document">
            {% for document in documents %}
                <h3>Document Name:</h3><br>
                <p>{{document}}</p>
                <h3>Date Uploaded:</h3><br>
                <p>{{document.date_uploaded}}</p>
                <a href="/assets/{{document.pdf}}" id="document-url"><img src="/static/images/pdf.png"/></a>
            {% endfor %}
        </div>
        </div>
    </div>

    <form id="document_upload" method="post" action="/api/document/upload/" enctype="multipart/form-data">
        <label for="name">Name:</label><input type="text" name="name"/>
        <br>
        <label for="pdf">Document:</label><input type="file" name="pdf"/>
    	<input type="submit">
    </form>
</div>
{% endblock %}
